body{
    background-color: #45567d;
}
header{
    margin: 10px auto 10px auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
header h1{
    font-size: 35px;
}
header p{
    display: block;
    font-size: 25px;
}
main , footer{
    display: grid;
}
#survey-form{
    background-color: white;
    color: black;
    display: block;
    border: 3px solid white;
    margin: 0px auto 0px auto;
    padding: 45px 45px 45px 45px;
    border-radius: 5%;
}
.mail ,.mail2 , .password2, .password , .remeberme , .button , .password_forget , .hr, .social , .link , h2{
    margin: 5px 45px 5px 45px;
}
#email , #email1{
    display: block;  
}
#em{
    font-size: 23px;
    margin-bottom: -5px;
}
[type = "email"]{
    display:block;
    height: 25px;
    width: 100%;
    margin-right: 10px;
}
#pa{
    font-size: 23px;
    margin-bottom: -1px;
}
[type = "password"]{
    display:block;
    height: 25px;
    width: 100%;
    margin-right: 10px;
}

#mail , #mail1{
    display: block;
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
[type = "checkbox"]{
    display: inline-block;
    height: 20px;
    width: 10px;
    margin-right: 10px;
}
#remember{
    display: inline-block;
    font-size: 19px;
}
button{
    display: block;
    width: 100%;
    height: 2.375rem;
    cursor: pointer;
    border-radius: 2px;
    background-color:green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}
.password_forget{
    text-align: right;
}
.password_forget p{
    font-size: 19px;
    margin-top: -5px;
}
.hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#first{
    display: block;
    width: 50%;
    text-align: left;
    height: 0%;
}
#last{
    display: block;
    width: 50%;
    height: 0%;
    text-align: right;
}
.hr p{
   border: 2px solid black;
   margin-top: -5px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 5px 5px 5px 5px;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#profile-link{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
   
}
#facebook , #google , #linkdin{
    font-size: 35px;
    
}
#facebook{
    margin-right: 5px;
    color: 	#4267B2;
}
#google{
    color: #db4a39;
    margin-right: 5px;
}
#linkdin{
    color: #0A66C2;
    margin-left: 5px;
    margin-right: 2px;
}
.link{
    display: block;
    padding: 0px 5px 0px 10px;
}
.link p{
    display: block;
    font-size: 19px;
}
.link p a{
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
.link p a:hover{
    color: blue;
}
input{
    display: block;
    border: 1px solid black;
    border-radius: 2%;
}
@media (max-width:815px){
    header{
        margin: 5px auto 5px auto;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    header h1{
        font-size: 29px;
    }
    header p{
        display: block;
        font-size: 19px;
    }
    #survey-form{
        background-color: white;
        color: black;
        display: block;
        border: 5px solid white;
        margin: 0px auto 0px auto;
        padding: 5px 6px 6px 6px;
        border-radius: 5%;
    }
    .mail ,.mail2 , .password2 .password , .remeberme , .button , .password_forget , .hr, .social , .link , h2{
        margin: 5px 35px 5px 35px;
    }
    .password_forget{
        text-align: right;
    }
    .password_forget p{
        font-size: 19px;
        margin-top: -5px;
    }
    #email ,#email1 , #passw{
        display: block;  
    }
    #em{
        font-size: 20px;
        margin-bottom: -5px;
    }
    [type = "email"]{
        display:block;
        width: 100%;
        margin-right: 10px;
    }
    #pa{
        font-size: 20px;
        margin-bottom: -1px;
        margin-left: -10px;
    }
    [type = "password"]{
        display:block;
        width:  110%;
        margin-left: -10px;
        margin-right: -10px;
        font-size: 15px;
    }
    [type = "checkbox"]{
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }
    #mail , #mail1{
        display: block;
        font-size: 15px;
        margin-top: 5px;
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #profile-link{
        display: block;
        margin-left: 5px;
        margin-right: 5px;
       
    }
    #facebook , #google , #linkdin{
        font-size: 25px;
        
    }
    #facebook{
        margin-right: 5px;
        color: 	#4267B2;
    }
    #google{
        color: #db4a39;
        margin-right: 5px;
    }
    #linkdin{
        color: #0A66C2;
        margin-left: 5px;
        margin-right: 2px;
    }
    button{
        display: block;
        width: 100%;
        height: 2.075rem;
        cursor: pointer;
        border-radius: 2px;
        background-color:green;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.015rem;
        margin-left: 5px;
        margin-right: 5px;
        color: white;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .link{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .link p{
        display: inline-block;
        font-size: 19px;
    }
    .link p a{
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        color: black;
    }
}
